{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="py-5 bg-gradient-to-r from-slate-100 to-slate-200">  
        <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">

            <div>
                <h5 class="text-xl font-bold text-slate-900">
                    {{ page.title }}
                </h5>
                <p class="mt-1 text-xs font-medium text-slate-600">{{ page.date }}</p>
            </div>


            {% comment %} categories {% endcomment %}
            {% with  categories=page.categories.all  %}
                {% if categories %}
                    <dl class="flex flex-col mt-6">
                        <div class="flex flex-row">
                            <dt class="text-sm font-medium text-slate-600">Posted in:</dt>
                        </div>
                        <div class="flex flex-row">
                            {% for category in categories %}
                                <dd class="text-xs text-slate-500 p-3">
                                    {% image category.icon fill-32x32 style="vertical-align: middle" %}
                                    {{ category.name }}
                                </dd>
                            {% endfor %}
                        </div>
                    </dl>
                {% endif %}
            {% endwith %}

            {% comment %} tags and links {% endcomment %}
            {% if page.tags.all.count %}
                <div class="tags m-1 pb-6">
                    <dl class="flex flex-row items-center">
                        <dt class="text-sm font-medium text-slate-600">Tags:</dt>
                        {% for tag in page.tags.all %}
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                                <button type="button" class="ml-4 text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-green-200 hover:bg-green-400 text-green-700 rounded-full focus:ring-4 focus:outline-none focus:ring-green-700">
                                    {{ tag }}
                                </button>
                            </a>
                        {% endfor %} 
                    </dl>                           
                </div>      
            {% endif %}


            {% comment %} main content {% endcomment %}
            <div class="intro">{{ page.intro }}</div>
            {{ page.specific.body|richtext }}


            {% comment %} galery images {% endcomment %}
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-6">
                {% for item in page.gallery_images.all %}
                    <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                        {% image item.image original class='rounded-t-lg'%}
                        {% comment %} {% image item.image fill-320x240 %} {% endcomment %}
                        <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">{{ item.caption }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
            

            {% comment %} back to blog link {% endcomment %}
            <div class="pt-5 flex justify-center">
                <a href="{{ page.get_parent.url }}">
                    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Return to blog
                        <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </a>
            </div>


        </div>
    </div>

{% endblock content %}